@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar{
  width: 0px;
}
html::-webkit-scrollbar-thumb{
  background-color: #FFA800;
}
html::-webkit-scrollbar{
  background-color: transparent;

}
html{
  scroll-behavior: smooth;
}

@layer components {
  h2,h4,h5,h6,p,button,div{
    
    letter-spacing: .7px;
  }
  
  .bodytxt{
    letter-spacing: 0.7px;
  }
    h1,h3{
      letter-spacing: 0.8px;
    }
    
    .myContainer{
        @apply w-[90%]  sm:w-[620px] md:w-[740px] lg:w-[980px] xl:w-[1240px]  2xl:w-[1440px] mx-auto  ;
    }
    
    
    }
  
   
  
    .navlinkbtn:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #FFA800;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    .navlinkbtn:hover:after { 
      width: 100%; 
      left: 0; 
    }
/* menu btn */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
}

.bars {
  width: 100%;
  height: 4px;
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}

#bar1 {
  width: 100%;
}

#bar2 {
  width: 75%;
}
#bar3{
  width:50%
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .1s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

#checkbox:checked + .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}
    .btn {
        position: relative;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
      }
      
      .btn.learn-more {
        width: 12rem;
        height: auto;
      }
      
      .btn.learn-more .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        /* box-shadow: 0 0 5px 1px white; */
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #FFA800;
        border-radius: 1.625rem;
      }
      
      .btn.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
      }
      
      .btn.learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
      }
      
      .btn.learn-more .circle .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.29rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
      }
      
      .btn.learn-more .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #FFA800;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
      }
      
      .btn:hover .circle {
        width: 100%;
        /* box-shadow: 0 0 10px 2px white; */
      }
      
      .btn:hover .button-text {
        transform: translate(-1.7rem, 0);
      }
      
      .btn:hover .circle .icon.arrow {
        background: #fff;
        transform: translate(8.7rem, 0);
      }
      
      .btn:active .circle .icon.arrow {
        transform: translate(9.5rem, 0);
        transition: all 0.3s;
      }
      
      .btn:active .circle {
        transform: scale(0.9);
        transition: all 0.3s;
        box-shadow: 0 0 5px 0.5px white;
      }
      
      .btn:hover .button-text {
        color: #fff;
      }
      
      .btn:active .button-text {
        color: rgba(255, 255, 255, 0.459);
      }